beautifulsoup4==4.4.1
boto==2.38.0
certifi==2019.3.9
chardet==3.0.4
coverage==4.5.3
coveralls==1.7.0
dj-database-url==0.3.0
Django==1.8.19
django-appconf==1.0.1
django-compressor==1.5
django-coverage-plugin==1.5.0
django-modelcluster==1.0
django-photologue==3.3.2
django-sortedm2m==1.0.2
django-storages-redux==1.3
django-taggit==0.17.1
django-treebeard==3.0
djangorestframework==3.2.5
docopt==0.6.2
flake8==3.5.0
gunicorn==19.3.0
html5lib==0.99999999
idna==2.8
mccabe==0.6.1
newrelic==2.56.0.42
pep8==1.5.7
Pillow==3.0.0
psycopg2==2.7.5
pycodestyle==2.3.1
pyflakes==1.6.0
pytz==2015.6
requests==2.22.0
selenium==2.48.0
six==1.10.0
Unidecode==0.4.18
urllib3==1.25.3
wagtail==1.1
whitenoise==2.0.4
Willow==0.2.1
