body {
  background-color: #412922;
}

#supersized li {
  background-color: #412922;
}

.info-bar {
  background-color: black;
  color: white;
  opacity: 0.7;
  position: fixed;
  bottom: 7%;
  left: 0;
  right: 0;
  display: -webkit-flex;
  display: flex;
}

.info-bar > div {
  padding: 15px;
}

.info-bar a {
  color: white;
}

.info-bar ul {
  list-style-position: inside;
}

.right-panel {
  display: flex;
  flex-direction: column;
}

.thumbnails {
  display: flex;
  flex: 1 1 auto;
}

.thumbnails a {
  display: block;
  height: 100%;
  border: 1px lightblue;
}

.thumbnails > div {
  width: 50%;
  background-position: top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.thumbnail-text {
  padding-top: 14px;
}

.flex-container {
  -webkit-flex-direction: row;
  flex-direction: row;
}

.panel {
  width: 33%;
  top: 0;
  bottom: 0;
}

.left-panel, .middle-panel {
  border-right: 1px #aaaaaa dashed;
}

@media only screen and (max-width: 768px) {
  .flex-container {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .panel {
    width: 100%;
  }

  .left-panel, .middle-panel {
    border-bottom: 1px #aaaaaa dashed;
  }

  .right-panel {
    display: block;
  }

  .thumbnails > div {
    height: 120px;
  }
}
