body {
  background-color: #412922;
}

#supersized li {
  background-color: #412922;
}

.info-bar {
  background-color: black;
  color: white;
  opacity: 0.7;
  position: fixed;
  top: 55%;
  height: auto;
  max-height: 40%;
  left: 0;
  right: 0;
  display: -webkit-flex;
  display: flex;
}

.info-bar > div {
  padding: 15px;
}

.info-bar a {
  color: white;
}

.info-bar ul {
  list-style-position: inside;
}

.flex-container {
  -webkit-flex-direction: row;
  flex-direction: row;
}

.panel img.full-width {
  display: block;
  width: 60%;
  margin: auto;
  height: auto;
}

.right-panel h4 {
  text-align: center;
}

.panel {
  width: 33%;
}

.left-panel, .middle-panel {
  border-right: 1px #aaaaaa dashed;
}

@media only screen and (max-width: 768px) {
  .flex-container {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .panel {
    width: 100%;
  }

  .left-panel, .middle-panel {
    border-bottom: 1px #aaaaaa dashed;
  }
}
