{% extends "photologue/root.html" %}
{% load i18n static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'photologue/css/roxy_gallery.css' %}" type="text/css"
        media="screen">
{% endblock %}

{% block title %}{% trans "Roxy's Gallery Archive" %}{% endblock %}

{% block content %}
  <div class="gallery">

    <h2>{% trans "Roxy's Gallery Archive" %}</h2>

    {% include 'photologue/gallery_list_snippet.html' with item_class='gallery-archive-list-item' %}

    <p class="gallery-list">
        {% include "photologue/includes/paginator.html" %}
        <br>
        <a href="{% url 'photologue:gallery-list' %}">Main Gallery</a>
        <br>
        <a href="/">Home</a>
    </p>

  </div>

{% endblock %}
