{% extends "photologue/root.html" %}
{% load i18n static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'photologue/css/roxy_gallery.css' %}" type="text/css"
        media="screen">
{% endblock %}

{% block title %}{% trans "Roxy's Galleries" %}{% endblock %}

{% block content %}
  <div class="gallery">

    <h2>{% trans "Roxy's Galleries" %}</h2>

    <div class="gallery-list">
      {% if object_list %}
        {% for gallery in object_list %}
          <div class="gallery-list-item">
            <a class="thumbnail-link" href="{{ gallery.get_absolute_url }}">
              <div class="thumbnail"
                   style="background-image: url('{{ gallery.sample.0.get_display_url }}')">
                <div>{{ gallery.title }}</div>
              </div>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <div>{% trans "No galleries were found" %}.</div>
      {% endif %}
    </div>

    <p><a href="/">Home</a></p>

  </div>

{% endblock %}
