{% extends "photologue/root.html" %}
{% load i18n static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'lightslider/dist/css/lightslider.min.css' %}"
        type="text/css" media="screen">
  <link rel="stylesheet" href="{% static 'photologue/css/roxy_gallery.css' %}"
        type="text/css" media="screen">
{% endblock %}

{% block title %}{{ gallery.title }}{% endblock %}

{% block content %}

  <div class="gallery gallery-detail">

    <h2>{{ gallery.title }}</h2>
    {#  TODO re-enable once descriptions are entered#}
    {#    {% if gallery.description %}#}
    {#      <p>{{ gallery.description|safe }}</p>#}
    {#    {% endif %}#}

    <ul id="light-slider">
      {% for photo in gallery.public %}
        <li data-thumb="{{ photo.get_thumbnail_url }}">
          <div class="gallery-image">
            <a class="thumbnail-link" href="{{ photo.get_absolute_url }}">
              <img src="{{ photo.get_display_url }}" alt="{{ photo.title }}">
            </a>
          </div>
        </li>
      {% endfor %}
    </ul>

    <br>
    <div>
      <a id="back_link" href=""
         class="btn btn-default">{% trans "Back to all galleries" %}</a>
    </div>
  </div>

{% endblock %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
  <script type="text/javascript"
          src="{% static 'lightslider/dist/js/lightslider.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'photologue/js/gallery_detail.js' %}"></script>
    <script>
    $(document).ready(function() {
      $('#back_link').attr('href', document.referrer);
    });
    </script>
{% endblock %}
