{% extends "photologue/root.html" %}
{% load i18n static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'photologue/css/roxy_gallery.css' %}"
        type="text/css" media="screen">
{% endblock %}

{% block title %}{{ gallery.title }}{% endblock %}

{% block content %}

  <h4>{{ gallery.title }}</h4>

  <div class="gallery-detail">

    {% if gallery.description %}
      <p>{{ gallery.description|safe }}</p>
    {% endif %}

    {% for photo in gallery.public %}
      <a href="{{ photo.get_absolute_url }}">
        <img src="{{ photo.get_thumbnail_url }}" class="gallery-detail" alt="{{ photo.title }}">
      </a>
    {% endfor %}
    <div>
      <a href="{% url 'photologue:gallery-list' %}"
         class="btn btn-default">{% trans "Back to all galleries" %}</a>
    </div>
  </div>

{% endblock %}
