.disabled {
  color: #888888;
}

.paginate {
  margin-left: 2px;
  margin-right: 2px;
}

.gallery {
  text-align: center;
}

.gallery-list {
  width: 100%;
  margin: auto;
}

.gallery-list > div {
  float: left;
}

.gallery-archive-list-item {
  padding: 1%;
  width: 23%;
  height: 200px;
}

.gallery-list-item {
  padding: 1%;
  width: 31%;
  height: 250px;
}

.gallery-list-item .thumbnail-link {
  text-decoration: none;
}

.gallery-detail {
  width: 600px;
  margin: auto;
}

@media only screen and (min-width: 361px) and (max-width: 768px) {
  .gallery-list-item {
    width: 50%;
  }
}

@media only screen and (max-width: 360px) {
  .gallery-list-item {
    width: 100%;
  }

  .gallery-detail {
    width: 100%;
  }
}

.gallery-detail ul {
  list-style: none outside none;
  padding-left: 0;
  margin-bottom: 0;
}

.gallery-detail li {
  display: block;
  float: left;
  margin-right: 6px;
  cursor: pointer;
}

.gallery-detail img {
  display: block;
  overflow: hidden;
  height: auto;
  width: 100%;
  max-width: 100%;
}
